.LoginWithAccountsBtnWrapper {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.facebookStyle {
  background-color: #3b5998;
  color: var(--primary-color-2);
}

.gmail {
  border: 1px solid var(--accent-color);
  background-color: var(--primary-color-2);
}
