.shipping {
  flex: 2;
}

.shipping__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 1185px) {
  .shipping {
    flex: 1;
  }

  .shipping__form {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

@media screen and (max-width: 825px) {
  .shipping__form {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .shipping__form {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
