.filter__box {
  border: 1px solid var(--secondary-color);
  width: max-content;
  padding: 1rem;
  width: 23rem;
}

.filter__box__header {
  margin: 1rem 0;
}

.filter__box__title {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.filter__box__options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signup__form__input {
  margin: 1rem 0;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
  outline: none;
  border: 1px solid var(--secondary-color);
  letter-spacing: 0.1rem;
  color: var(--secondary-color);
  transition: all 0.2s ease-in;
  width: 100%;
}

.signup__form__input:focus {
  box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.2);
}

.signup__form__input::placeholder {
  letter-spacing: 0.2rem;
}

@media screen and (max-width: 705px) {
  .filter__box {
    width: 90%;
  }

  .filter__box__title {
    font-size: 1.2rem;
  }
}
