.product {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
  color: var(--primary-color);
}

.product:hover {
  transform: translateY(-0.4rem);
}

.product__img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.product__details {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.product__name {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}

.product__price {
  font-size: 1.4rem;
}

.like__icon {
  position: absolute;
  top: 4%;
  right: 10%;
  padding: 1rem;
  border-radius: 100%;
  background-color: var(--primary-color-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.liked {
  background-color: var(--accent-color-2);
  color: var(--primary-color-2);
}

.icon {
  font-size: 1.7rem;
}

@media screen and (max-width: 1180px) {
  .product {
    width: 17rem;
  }
}

@media screen and (max-width: 705px) {
  .product__name {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  .product__price {
    font-size: 1rem;
  }

  .like__icon {
    padding: 0.5rem;
  }

  .icon {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 402px) {
  .product {
    width: 14rem;
  }
}
