.top__categories__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
}

.title {
  font-weight: 300;
  font-size: 2.4rem;
}

.top__categories__btn {
  font-size: 1.3rem;
  color: var(--primary-color);
  text-transform: uppercase;
  border: 1px solid var(--secondary-color);
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
}

@media screen and (max-width: 895px) {
  .title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 740px) {
  .title {
    font-size: 1.7rem;
  }

  .top__categories__btn {
    font-size: 1rem;
  }
}
