.icons {
  font-size: 2rem;
  margin: 0 0.2rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}

.logo__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 12rem;
  color: var(--primary-color);
}

.logo__name {
  font-size: 1.7rem;
}

.nav__items {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 2;
  width: 100%;
  margin-top: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in;
  display: none;
}

.active {
  opacity: 1;
  pointer-events: all;
  display: flex;
}

.nav__item {
  font-size: 1.4rem;
  text-transform: capitalize;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  overflow: hidden;
  color: var(--primary-color);
  cursor: pointer;
}

.nav__item::before {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 50%;
  width: 50%;
  height: 0.2rem;
  background: var(--accent-color-2);
  transition: all 0.2s ease-in;
  transform: translate(-50%, -50%);
}

.nav__item:hover.nav__item::before {
  bottom: 0;
}

.action__btns {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--primary-color);
}

.btns {
  cursor: pointer;
}

@media screen and (min-width: 975px) {
  .user__icon {
    display: block;
  }

  .menu__icon {
    display: none;
  }

  .nav__items {
    display: flex;
    flex-direction: row;
    color: var(--primary-color-2);
    justify-content: space-evenly;
    order: 0;
    margin-top: 0;
    opacity: 1;
    pointer-events: all;
    width: 40%;
    color: var(--primary-color);
  }
}
