.signup__wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  padding: 1rem;
  width: 50rem;
}

.signup__form {
  display: flex;
  flex-direction: column;
}
