.input__group {
  margin: 1rem 0;
}

.select__box {
  margin-bottom: 1rem;
}

.error__message {
  color: var(--accent-color);
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  margin-left: 1rem;
  margin-top: 5rem;
}
